In [1]:
from dotenv import load_dotenv
import sys
import os

load_dotenv()
sys.path.insert(0, os.path.join(os.environ["PORTFOLIO_ROOT"], "src"))

In [14]:
from portfolio_utils.PortfolioElementaryMetrics import PortfolioElementaryMetrics
from portfolio_utils import AssetsResearch

import pandas as pd
import numpy as np

In [31]:
tickets = ["BOH", "AAPL", "JPM"]
start_date = "2018-01-01"
end_date = "2026-02-20"

weight = np.ones(len(tickets)) / len(tickets)

Portfolio1 = PortfolioElementaryMetrics(
    tickers=tickets,
    start=start_date,
    end=end_date,
    weight=weight
)

In [32]:
Assets = AssetsResearch(tickers=tickets, start=start_date, end=end_date)
Assets.annual_return().values

array([0.27749943, 0.08937115, 0.19892429])

In [36]:
Assets.covariance()

Ticker      AAPL       BOH       JPM
Ticker
AAPL    0.000375  0.000132  0.000152
BOH     0.000132  0.000487  0.000262
JPM     0.000152  0.000262  0.000334

In [34]:
Assets.get_prices().head(4)

Ticker           AAPL        BOH        JPM
Date
2018-01-02  40.304176  62.848114  86.340912
2018-01-03  40.297161  62.657700  86.428864
2018-01-04  40.484337  62.416039  87.667007
2018-01-05  40.945263  62.774879  87.104225

In [35]:
print(Portfolio1.portfolio_annual_return())

Ticker
AAPL    0.277499
BOH     0.089371
JPM     0.198924
dtype: float64