In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [31]:
prices = yf.download(["PLTR", "GLD", "CVX", "AAPL"], start="2021-01-01", end="2026-01-28")["Close"]

/home/rigodev/ITESO/06/portafolios/env/lib/python3.12/site-packages/yfinance/scrapers/history.py:201: Pandas4Warning: Timestamp.utcnow is deprecated and will be removed in a future version. Use Timestamp.now('UTC') instead.
  dt_now = pd.Timestamp.utcnow()
[*********************100%***********************]  4 of 4 completed

In [32]:
prices

Ticker            AAPL         CVX         GLD        PLTR
Date
2021-01-04  125.974472   68.492661  182.330002   23.370001
2021-01-05  127.531975   70.344269  182.869995   24.600000
2021-01-06  123.239075   72.608223  179.899994   23.540001
2021-01-07  127.444359   72.947815  179.479996   25.000000
2021-01-08  128.544357   73.643181  173.339996   25.200001
...                ...         ...         ...         ...
2026-01-21  247.649994  166.729996  443.600006  165.330002
2026-01-22  248.350006  166.660004  451.790009  165.899994
2026-01-23  248.039993  166.720001  458.000000  169.600006
2026-01-26  255.410004  167.500000  464.700012  167.470001
2026-01-27  258.269989  169.050003  476.100006  165.699997

[1272 rows x 4 columns]

In [33]:
returns = prices.pct_change().dropna()
returns

Ticker          AAPL       CVX       GLD      PLTR
Date
2021-01-05  0.012364  0.027034  0.002962  0.052632
2021-01-06 -0.033661  0.032184 -0.016241 -0.043089
2021-01-07  0.034123  0.004677 -0.002335  0.062022
2021-01-08  0.008631  0.009532 -0.034210  0.008000
2021-01-11 -0.023249  0.005709 -0.001961  0.028968
...              ...       ...       ...       ...
2026-01-21  0.003851  0.008651  0.014569 -0.018988
2026-01-22  0.002827 -0.000420  0.018463  0.003448
2026-01-23 -0.001248  0.000360  0.013745  0.022303
2026-01-26  0.029713  0.004678  0.014629 -0.012559
2026-01-27  0.011198  0.009254  0.024532 -0.010569

[1271 rows x 4 columns]

In [34]:
# w = np.array([0.25, 0.25, 0.25, 0.25])
n = len(prices.columns)
n

4

In [35]:
w = np.ones(n)
w

array([1., 1., 1., 1.])

In [36]:
w = w / n
w

array([0.25, 0.25, 0.25, 0.25])

In [37]:
mu = returns.mean()
mu

Ticker
AAPL    0.000717
CVX     0.000839
GLD     0.000805
PLTR    0.002429
dtype: float64

In [38]:
# Expected portfolio return
return_portfolio = mu @ w
return_portfolio

np.float64(0.001197505947065298)

In [39]:
return_portfolio * 252

np.float64(0.30177149866045505)

In [15]:
sigma = returns.std()
sigma

Ticker
AAPL    0.017509
CVX     0.015956
GLD     0.009922
PLTR    0.042613
dtype: float64

In [18]:
sigma / mu

Ticker
AAPL    24.690942
CVX     19.177503
GLD     12.620668
PLTR    17.468809
dtype: float64

In [42]:
cov_matrix = returns.cov()
cov_matrix

Ticker      AAPL       CVX       GLD      PLTR
Ticker
AAPL    0.000306  0.000065  0.000011  0.000288
CVX     0.000065  0.000254  0.000022  0.000084
GLD     0.000011  0.000022  0.000099  0.000029
PLTR    0.000288  0.000084  0.000029  0.001815

In [48]:
var_portfolio = w.T @ cov_matrix @ w
var_portfolio

np.float64(0.0002169767531936423)

In [50]:
vol_portfolio = np.sqrt(var_portfolio) * np.sqrt(252)
vol_portfolio

np.float64(0.2338335771543468)

In [52]:
# ESTO ESTA MAL
returns.std() @ w * np.sqrt(252)

np.float64(0.3412790871081686)