In [1]:
import pandas as pd
import numpy as np

In [5]:
prices = pd.read_excel("../data/libro.xlsx", index_col = 0)
prices.head(2)

             QYLD        QQQ
Key
201350  12.401456  78.942741
201351  12.569972  80.477844

In [6]:
rets = prices.pct_change().dropna()
rets.head(2)

            QYLD       QQQ
Key
201351  0.013588  0.019446
201352  0.005521  0.015006

In [11]:
mu = rets.mean() * 252 * 100
mu

QYLD     43.545527
QQQ     104.880587
dtype: float64

In [12]:
# CAGR (Rend Geometrico) ------> 

GAGR = (((1 + rets).prod())**(1/len(rets)) -1) * 252 * 100
GAGR

QYLD    39.494375
QQQ     96.650023
dtype: float64

In [19]:
(len(rets)/((1/(1+rets)).sum()) - 1) * 252 * 100

QYLD    35.356468
QQQ     88.323627
dtype: float64

In [24]:
df = pd.DataFrame(index=["Bear", "Neutral", "Bull"])
df["Probabilidades"] = [0.25, 0.30, 0.45]
df["Rendimiento"] = [-.10, .05, .20]
df

         Probabilidades  Rendimiento
Bear               0.25        -0.10
Neutral            0.30         0.05
Bull               0.45         0.20

In [26]:
E_r = (df["Probabilidades"] * df["Rendimiento"]).sum()
E_r*100

np.float64(8.000000000000002)

In [35]:
df["Probabilidades"] @ df["Rendimiento"]

np.float64(0.08)

In [30]:
E_var = ((df["Rendimiento"] - E_r) ** 2 * df["Probabilidades"]).sum() 

E_var

np.float64(0.01485)

In [31]:
E_vol = np.sqrt(E_var)

E_vol

np.float64(0.1218605760695394)

In [32]:
E_var, E_vol

(np.float64(0.01485), np.float64(0.1218605760695394))

In [33]:
df2 = pd.DataFrame(index=["Dovish", "Neutra", "Hawkish"])
df2["P"] = [0.7, 0.2, 0.1]
df2["R"] = [0.02, 0.03, 0.055]

df2.head()

           P      R
Dovish   0.7  0.020
Neutra   0.2  0.030
Hawkish  0.1  0.055

In [34]:
Ev = df2["P"] @ df2["R"]
Ev

np.float64(0.0255)

In [38]:
Var = ((df2["R"] - Ev) ** 2) @ df2["P"]
Var * 100

np.float64(0.011225)

In [39]:
Vol = np.sqrt(Var)
Vol * 100

np.float64(1.0594810050208545)